<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Trabalho</title>
    <link href="bootstrap-5.3.7-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid justify-content-center">
            <span class="navbar-brand mb-0 h1">AGENDA DE TRABALHO: Adicionar Trabalho</span>
        </div>
    </nav>

    <div class="container mt-5">
        <form action="/adicionar" method="post">
            <div class="mb-3">
                <label for="titulo" class="form-label">Título:</label>
                <input type="text" id="titulo" name="titulo" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Descrição:</label>
                <textarea id="desc" name="desc" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label for="disciplina" class="form-label">Disciplina:</label>
                <input type="text" id="disciplina" name="disciplina" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="data" class="form-label">Data:</label>
                <input type="date" id="data" name="data" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-outline-dark">Adicionar</button>
        </form>
        <a href="/" class="btn btn-secondary mt-3">Voltar</a>
    </div>

       <script src="bootstrap-5.3.7-dist/js/bootstrap.js"></script>
</body>
</html>