<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Excluir Agenda</title>
    <link href="bootstrap-5.3.7-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-4">
        <h1>Excluir Agenda</h1>
        <form method="POST" action="/excluir">
            <div class="mb-3">
                <label for="titulo" class="form-label">Selecione o Título:</label>
                <select class="form-select" id="titulo" name="titulo" required>
                    {{opcoes}}
                </select>
            </div>
            <button type="submit" class="btn btn-outline-dark">Excluir</button>
            <a href="/" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
           <script src="bootstrap-5.3.7-dist/js/bootstrap.js"></script>
</body>
</html>
